<h1>Borrowings</h1>

<table>
    <tr>
        <th>Device</th>
        <th>Starting Date</th>
        <th>Ending Date</th>
        <th>Borrower</th>
    </tr>
    <% borrowings.forEach(borrowing=> { %>
        <tr>
            <td>
                <%= borrowing.name %>
            </td>
            <td>
                <%= borrowing.borrowing_start.toLocaleDateString() %>
            </td>
            <td>
                <%= borrowing.borrowing_end.toLocaleDateString() %>
            </td>
            <td>
                <%= borrowing.regnumber %>
            </td>

            <% if (admin) { %>
                <td>
                    <button onclick="delBorrowing('<%= borrowing.borrowing_id %>')">Delete</button>
                </td>
                <% } %>

        </tr>
        <% }) %>


</table>

<form action="/">
    <button type="submit">Go back</button>
</form>

<script>
    async function delBorrowing(id) {
        const data = { id }
        const options = {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }
        const response = await fetch('/borrowing', options)
        location.reload()
    }
</script>