<h1>Edit device <%= device.name%>
</h1>
<h3>(leave blank fields you don't want to edit)</h3>

<form action="/device/edit" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="<%= device.name%>">
    </div>
    <div>
        <label for="version">Version</label>
        <input type="text" id="version" name="version" placeholder="<%= device.version%>">
    </div>
    <div>
        <label for="ref">Reference</label>
        <input type="text" id="ref" name="ref" placeholder="<%= device.ref%>">
    </div>
    <div>
        <label for="stock">Stock</label>
        <input type="text" id="stock" name="stock" placeholder="<%= device.stock%>">
    </div>

    <div>
        <input type="hidden" name="id" value="<%=id%>" id="id">
    </div>

    <input type="submit" value="Edit">
</form>

<form action="../..">
    <button type="submit">Cancel</button>
</form>